@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Montserrat:wght@400;700&display=swap');

body {
  color: #494949;
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: 'Lora', serif;
  margin: 0;
}

h1, h2 {
  color: #636363;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
}

.banner {
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  color: white;
  padding: 120px 0;
  width: 100%;
}

.banner h1 {
  font-weight: bold;
  font-size: 38px;
}

.container {
  width: 700px;
  margin: 50px auto;
}

.link-medium {
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  color: #636363;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}

@media(max-width: 1200px){
  .container{
    width: 900px;
  }
}

@media(max-width: 992px){
  .container{
    width: 700px;
  }
}

@media(max-width: 768px){
  .container{
    width: 600px;
  }
}

@media(max-width: 576px){
  body {
    color: #494949;
    font-size: 14px;
    line-height: 1.4;
    font-weight: lighter;
    font-family: 'Lora', serif;
    margin: 0;
  }
  .banner {
    text-align: center;
  }
  .container{
    width: 400px;
    margin: 40px auto;
  }
}
